extends layout

block content
    .content-wrapper.index

        div.redirect-wrapper
            - for (var x = 1; x <= 2; x++)
                div.redirect
                    a(href="#{x}")
                        h2 Cycle&nbsp;
                            span= x