doctype html
html
  head
    title= title
    link(rel="shortcut icon" href="/favicon.ico" type="image/x-icon")
    link(rel="icon" href="/favicon.ico" type="image/x-icon")
    link(rel='stylesheet', href='/css/style.css')
    script(src="/javascripts/lib/jquery-2.1.1.min.js")
    script(src="/javascripts/script.js")
  body
    div.navbar-wrapper
        nav.navbar-inner
            div.navbar-left
                a.nav-item(href="/") PAT 201 TrackID

    block content