@import 'rupture'
@import 'jeet'
@import 'axis'
@import 'nib'

/*
 * Nib provides a CSS reset
 */
global-reset()

bg-color = #551A8B
dark-blue = #000033
dark-purple = #430051
dark-green = #00513B

extralarge = 1400px
large = 1200px
mediumlarge = 1050px
medium = 850px
small = 650px
extrasmall = 500px

content-large-title = 4em
content-title = 3em
content-large = 1.5em
content-medlarge = 1.35em
content-profile = 1.1em
content-normal = 1em
content-small = .85em
content-extrasmall = .6em

body
    font-family 'Helvetica'
    height 100%
    cf()
    background-color #dddddd

    .navbar-wrapper
        cf()
        width 100%
        background-color dark-purple
        box-shadow 1px 1px 10px #888888

        nav.navbar-inner
            width 60%
            margin auto
            cf()

            +below(extralarge)
                width 70%

            +below(large)
                width 80%

            +below(mediumlarge)
                width 90%

            +below(medium)
                width inherit

            a
                color white
                text-decoration none

            a:hover
                text-decoration underline

            .navbar-left
                float left
                padding 10px 12px 10px 12px

                a.nav-item
                    font-size content-medlarge

            .navbar-right
                float right
                font-size content-normal

                a.nav-item
                    margin 8px

    .content-wrapper
        width 40%
        height 100%
        cf()
        margin auto
        padding-bottom 48px

        +below(extralarge)
            width 70%

        +below(large)
            width 80%

        +below(mediumlarge)
            width 90%

        +below(medium)
            width 100%

        .title-wrapper
            padding 50px 0

        .login-wrapper
            padding 50px 0

        .mode-wrapper
            margin 30px 0
            width 100%
            display inline-block

            .onoffswitch
                float right

        .song-wrapper
            margin-bottom 12px
            border-bottom 1px dark-blue solid
            padding-bottom 32px
            border-radius 3px
            border-left 1px dark-blue solid
            border-right 1px dark-blue solid
            box-shadow 1px 1px 10px #888888

            .music-wrapper
                height 0

                audio
                    opacity 0

            .button-wrapper
                margin auto
                text-align center

                .play-wrapper:hover,
                .stop-wrapper:hover,
                .loading-wrapper:hover
                    cursor pointer

                .play-wrapper,
                .stop-wrapper,
                .loading-wrapper
                    background dark-blue
                    hover-darken()
                    padding 16px 0
                    font-size 1.5em
                    color white
                    width 100%
                    text-align center
                    margin auto

                    img.play-btn
                        max-height 48px

            .form-wrapper
                margin-top 32px

                .fields-wrapper
                    margin auto
                    text-align center

                    .field
                        padding-top 6px

                        input
                            input()

                .feedback-wrapper
                    margin auto
                    width 25%
                    margin-top 32px

                    +below(medium)
                        width 50%

                    +below(extrasmall)
                        width 100%

                    p
                        text-align center
                        width 90%

                    .correct
                        color green
                    .incorrect, .answer
                        color red


                .buttons-wrapper
                    margin auto
                    text-align center
                    width 45%
                    margin-top 32px

                    +below(medium)
                        width 70%

                    +below(extrasmall)
                        width 100%

                    .response-btn:hover
                        cursor pointer

                    .response-btn
                        padding 10px 0 8px 0
                        color white
                        background dark-green
                        text-align center
                        width 48%
                        hover-darken()
                        display: inline-block

                    .response-btn:first-child
                        margin-right 1px

                    .response-btn:last-child
                        margin-left 1px

        .redirect-wrapper
            margin-top 40px

            .redirect
                width 100%
                text-align center
                color white
                font-size content-medlarge
                margin 20px 0
                box-shadow 1px 1px 10px #888888
                border-radius 3px
                hover-darken()

                h2
                    padding 50px
                    background dark-green
                    hover-darken()

                a
                    text-decoration none

                a, a:hover
                    color white

                a:hover
                    text-decoration underline
                    cursor pointer






    .content-wrapper.index
        font-size inherit

.hidden
    display none !important
    visibility hidden !important

// Code for flip switch

.onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 15px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "Quiz";
    padding-left: 10px;
    background-color: #000033; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "Study";
    padding-right: 10px;
    background-color: #00513B; color: #FFFFFF;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 20px; margin: 5px;
    background: #FFFFFF;
    border: 2px solid #999999; border-radius: 15px;
    position: absolute; top: 0; bottom: 0; right: 56px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}